<form action="http://localhost/ServidorTaskWork/Usuario/cadastrarUsuario" method="post">
<input type="text" name="nome">
<input type="text" name="login">
<input type="text" name="senha">
<input type="text" name="telefone">
<input type="text" name="data_nascimento">
<input type="text" name="foto">
<input type="submit">


</form>
